# IMPORTANT: If you committed to the git repository before you added this .gitignore file
# you need to delete the excluded files manually from your git repository, to ensure, 
# that they are not tracked anymore. To delete them from git, just do the following:
# 
#     git rm --cached FILENAME
#
# ... Then everything should be fine.

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Generated
bin
gen
obj
out

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Other
Thumbs.db
.DS_Store
tmp
